@charset "utf-8";
/*!
  Theme: nocturne
  Author: izumi_ikezaki
  Responsive: yes
  Description:
    はてなブログのテーマ
*/

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Zen+Old+Mincho&display=swap');
@import "tailwindcss";
@import "./css/_variable.css";
@import "./css/_animations.css";
@import "./css/_core.css";
@import "./css/container.css";
@import "./css/header/blog_title.css";
@import "./css/header/breadcrumb.css";
@import "./css/main/entry.css";
@import "./css/main/comment.css";
@import "./css/main/entry_content.css";
@import "./css/main/pager.css";
@import "./css/side/hatena_module.css";
@import "./css/footer/footer.css";
